html, body { height: 100vh; }

body {
  font-family: sans-serif;

  transition: all 500ms ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body.lights-off {
  background: #222;
}

h1 {
  color: white;
}